@import url("variables.css");

@font-face {
    font-family: "Press Gothic";
    src:
        url("/fonts/press-gothic-regular-webfont.woff") format("woff"),
        url("/fonts/press-gothic-regular-webfont.woff2") format("woff2");
    font-weight: normal;
}

* {
    margin: 0;
    padding: 0;
}

body {
    background-color: var(--main-bg-color);
    font-family: "Press Gothic", sans-serif;
    -webkit-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
    font-smooth: antialiased;
    overflow: hidden;
}

h1 {
    font-weight: normal;
    font-size: 22em;
    letter-spacing: -1.2px;
}

.testHeader {
    font-size: 4.75em;
    font-weight: normal;
    position: absolute;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    line-height: 0.9;
    text-align: center;
    display: flex;
    align
    pointer-events: none;
}