@import url("variables.css");

@font-face {
    font-family: "Press Gothic";
    src:
        url("/fonts/press-gothic-regular-webfont.woff") format("woff"),
        url("/fonts/press-gothic-regular-webfont.woff2") format("woff2");
    font-weight: normal;
}

* {
    margin: 0;
    padding: 0;
}

body {
    background-color: var(--main-bg-color);
    font-family: "Press Gothic", sans-serif;
    font-size: 0.8333333333333334vw;
    -webkit-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
    font-smooth: antialiased;
    overflow: hidden;
}

h1 {
    font-weight: normal;
    font-size: 22em;
    letter-spacing: -1.2px;
}