@import url("../../variables.css");

.preloader-container {
    background-color: var(--main-bg-color);
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 0.5rem;
}

h3 {
    font-weight: normal;
    font-size: 4.625em;
    letter-spacing: -1.2px;
}